<section class="cta">
  <div class="cta-bg-text">GALAXY</div>
  <div class="cta-inner">
    <div>
      <div class="cta-titulo">¿Ya tienes<br>tu entrada?</div>
      <div class="cta-sub">Más de 20 películas · 5 sedes en Lima</div>
    </div>
    <div class="cta-stats">
        <div class="cta-stat">
            <span class="cta-stat-num">5</span>
            <span class="cta-stat-label">Sedes en Lima</span>
        </div>
        <div class="cta-stat">
            <span class="cta-stat-num">40+</span>
            <span class="cta-stat-label">Salas de cine</span>
        </div>
        <div class="cta-stat">
            <span class="cta-stat-num">1M+</span>
            <span class="cta-stat-label">Espectadores al año</span>
        </div>
        <div class="cta-stat">
            <span class="cta-stat-num">6</span>
            <span class="cta-stat-label">Años de historia</span>
        </div>
    </div>
    <button class="cta-btn" routerLink="/cartelera">Ver cartelera →</button>
  </div>
</section>